
.example-full-width{
  min-width: 15em;
}
.example-card {
  margin: .7em auto .7em auto;
  background-color: #f5f5f5 !important;
}
.title{
  color: #673ab7;
  font-weight: 500
}
.list-btn{
  margin:1em;
}
.icon{
  padding: 3px;
}
.value{
  margin:.5em;
  font-size: .9em;
}
.mat-card>.mat-card-actions:last-child{
  margin-bottom: -3px !important;
}
.fa.fa-circle.JavaScript{
  color:#f1e05a;
}
.fa.fa-circle.TypeScript{
  color:#2b7489;
}
.fa.fa-circle.HTML{
  color: #e34c26;
}
.fa.fa-circle.Dart{
  color: #00B4AB;
}
.fa.fa-circle.CSS{
  color: #563d7c;
}
.fa.fa-circle.Ruby{
  color: #878687;
}
.fa.fa-star , .fa.fa-code-fork{
  color: #888783;
}
.fa.fa-circle{
  color: #843179;
}



