<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>

<mat-card class="card fix-height">

  <div class="full-size">
    <mat-card-header>
      <mat-card-title>Todo category</mat-card-title>
      <mat-card-subtitle>first</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        this is simple pwa app.
        this is simple pwa app.
        this is simple pwa app.
        this is simple pwa app.
      </p>
    </mat-card-content>
  </div>

  <div>
    <mat-card-actions>

      <div class="button-row">
        <button mat-mini-fab color="primary">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </mat-card-actions>
  </div>

</mat-card>
